<ion-header>
<ion-toolbar>
  <ion-title>Login</ion-title>
</ion-toolbar>
</ion-header>



<ion-content>
 <ion-card>

      <ion-card-header>
        <img src="../../assets/log.jpg" alt="Login.jpg">
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title> Mini-Projet : Angular & Ionic</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
          <ion-item>
            <ion-input [(ngModel)]="user.email" placeholder="Enter Your Email"></ion-input>
          </ion-item>
          <br>
            <ion-item>
              <ion-input [(ngModel)]="user.password" placeholder="Enter Your Password" type="password"></ion-input>
            </ion-item>
      <br>
      <ion-button expand="block" (click) = "LogIn()">login</ion-button>
      <ion-button expand="block" color="secondary" (click)="Registre()">Registre</ion-button>

      </ion-card-content>

 </ion-card>

</ion-content>
