<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<div class="main-div ion-padding">
  <h1 class="ion-padding">Les Formation </h1>
 <ion-card class="list"> 
    <ion-item-sliding *ngFor="let f of format">
      <ion-item routerLink="/details/{{f.id}}">
        <ion-label>{{ f.Title }}
          <p class="expense">{{ f.duree}}</p>
        </ion-label>
         <p class="amount">{{ f.prix}}</p>
      </ion-item>
    </ion-item-sliding>
 </ion-card>
<ion-fab-button color="dark">
  <ion-icon name="add-outline" routerLink="/add-data"></ion-icon>
</ion-fab-button>
</div>

</ion-content>
